body {
	/*background-image: url("PSX_20150619_153612.jpg");*/
	font-family: cursive;
}

.jumbotron h1, .jumbotron p {
	font-family: verdana;
}
#give-margin {
	margin-left: 50px;
}



/*---------------------------------------------------
	FORM
---------------------------------------------------*/
.mybtn {
	height: 100px;
	width: 400px;
	font-size: 25px;
	margin-bottom: 5px;
}	

.center-button{
	width: 600px;
	margin-top: 200px;
	text-align: center;
}
@media(max-width: 860px) {
	.submit-or-cancel {
		text-align: center;
	} 	
}
.error-message {
	color: red;
	font-style: italic;
}
.message {
}
/*---------------------------------------------------
	FOOTER
---------------------------------------------------*/
.page-footer {
	margin-top: 20px;
	border-radius: 0;
}